<div class="d-flex justify-content-center p-4 p-md-0">
  <form
    class="rounded p-3 col-12 col-md-4 mt-4 shadow-lg"
    action="/create"
    method="POST"
  >
    <h3 class="mb-3 text-center">Sign Up</h3>

    <!-- Username input -->
    <div class="form-outline mb-2">
      <label class="form-label" for="username">User Name</label>
      <input
        type="text"
        id="name"
        placeholder="Enter User Name"
        name="username"
        class="form-control"
        required
      />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-2">
      <label class="form-label" for="email">Email Address</label>
      <input
        type="email"
        id="email"
        placeholder="Enter Email Address"
        name="email"
        class="form-control"
        required
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-2">
      <label class="form-label" for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Enter Password"
        name="password"
        class="form-control"
        required
      />
    </div>

    <!-- Confirm password input -->
    <div class="form-outline mb-2">
      <label class="form-label" for="confirm_password">Confirm password</label>
      <input
        type="password"
        id="confirm_password"
        placeholder="Confirm Password"
        name="confirm_password"
        class="form-control"
        required
      />
    </div>

    <!-- User role input -->
    <div class="form-outline mb-2">
      <label class="form-label" for="role">Role</label>
      <select
        class="form-select"
        id="role"
        name="role"
        aria-label="Default select example"
        required
      >
        <option selected value="employee">Employee</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <!-- Buttons container -->
    <div class="my-3 d-flex justify-content-between">
      <!-- signup button -->
      <button
        type="submit"
        class="btn btn-primary fw-semibold"
        style="width: 100%"
      >
        SIGN UP
      </button>
    </div>

    <!-- Link to redirect to login page -->
    <div class="text-center">
      <p>Already Registered? <a href="/">Login</a></p>
    </div>
  </form>
</div>
